.question-two .ndc-table,
.question-two .ndc-table th,
.question-two .ndc-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.question-two .ndc-table th,
.question-two .ndc-table td {
    padding: 8px;
}
